body {
    margin: 0px;
}


html { scroll-behavior: smooth; } 

.announcement-bar {
	position: relative;
    width: 100%;
    background-color: #eaf2f5;
    height: 70%;
    padding-top: 0px;
    margin-top: 0px;
    box-shadow: 0 0 15px rgb(96 96 96 / 24%);
    margin-bottom: 6%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.announcement-message {
    color: #0000;
    margin: 0px;

}

.container {
    padding-left: 5%;
}

img.personal-profile__avatar
{
    border-radius: 5px;
    box-shadow: 0 0 27px rgb(96 96 96 / 34%);
    width: 20%;
    float: left;
    height: 275px;
    -o-object-fit: cover;
    object-fit: cover;
    margin-top: 0px;
    position: relative;
    top: 20px;
}


.site-nav {
    overflow: hidden;
    padding-top: 2%;
  }
  
.site-nav a {
    float: left;
    color: #224e84;
    font-weight: 600;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Work Sans', sans-serif;
}
  
.site-nav :hover {
    border-bottom: 3px solid #fd7e14;
}

.name, .details {
    font-family: 'Work Sans', sans-serif;
    color: #307fe2;
    float: left;
    text-shadow: 5% 5% 5% #acacac;
    font-weight: lighter;
    padding-bottom: 0px;
    margin-top: 2%;
    margin-bottom: 0%;
}

.details {
    font-weight: light;
    padding-bottom: 2%;
}


.personal-details {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: left;
    padding-left: 5%;
    padding-top: 2%;
}

.about-me-details {
    font-family: 'Roboto', sans-serif;
    overflow: overlay;
    color: #224e84;
}

.about-me-title, .hobbies-title, .resume-title, .projects-title {

    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    font-size: 150%;
    color: #307fe2;
}

.resume-title {
    display: block;
    overflow: auto;
}

table {
    margin: 50px auto;
}

table, th, td {
    border-collapse: collapse;
    font-family: 'Roboto', sans-serif;

}

th, td {
    padding: 5px;
}

.sections {
    margin-top: auto;
}

section {
    padding-left: 5%;
}

.resume-details-1, .resume-details-2 {
    display: inline-block;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 1%;
}

#position {
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    border-bottom: 3px solid #fd7e14;
    font-size: 18px;
    margin: 0px;
    padding: 0px;
}

#dates {
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    float: right;
    padding-right: 40%;
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;

}

#location {
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    float: right;
    padding-right: 40%;
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

#company {
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    margin: 0px;
    padding: 0px;
    margin-top: 1%;
}

#description {
    padding-top: 2%;
    padding-bottom: 2%;
}


.fa {
    padding: 50%;
    width: 17px;
    text-align: center;
    text-decoration: none;
    border-radius: 100%;
  }

.fa-linkedin, .fa-github {
    background: #ff9e1c;
    color: white;
 }

.social-media {
    display: flex;
    flex-direction: row;
    width: inherit;
    height: inherit;
    padding-bottom: 4%;
}

.sm-buttons {
    padding-right: 2.2%;
    display: block;
    width: inherit;
    height: inherit;
}

/* Tabs Section */

.tabs-content {
    width: inherit;
    height: inherit;
    text-align: left;
    padding: 10px;  
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    width: auto;
    margin: 5%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, .1);
  }
  
  .buttonWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  
  button {
    letter-spacing: 1px;
    border: none;
    padding: 10px;
    color: #224e84;
    font-size: 18px;
    cursor: pointer;
    transition: 0.5s;
    font-family: 'Roboto', sans-serif;
    background-color: #eaf2f5;
  }
  
  button:hover {
    background-color: #d5e3ff;
  }
  
  button.active {
    background-color: white;
  }
 
  
  .content {
    display: none;
    padding: 10px 20px;

  }
  
  .content.active {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  /* Sections Styling */

  .therapist-image-container {
    /* object-fit: contain; */
    width: 50%;
    float: right;
}

  #therapist-jen-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  

  #app-description {
    width: 45%;
    text-align: left;
    font-size: 100%;
    margin: 2%;
    color: #224e84;
    padding: 0.5%;
}

.tab-button {
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
}

.skills {
    display: flex;
    flex-direction: row;
}

.skills li {
    box-shadow: 0 0 5px rgb(96 96 96 / 25%);
    list-style-type: none;
    width: 190px;
    padding: 2%;
    margin: 2%;
    color: #224e84;
    text-align: center;
}

.tab-titles {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    width: 100%;
    padding-left: inherit;
    margin: 0px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
}

h4 {
    color: #224e84;
}

p {
    line-height: 1.8;
    color: #224e84;
}

.video-buttons-container {
    margin-left: auto;
    margin-right: inherit;
    margin-top: auto;
}

.video-buttons {
    padding-right: 5px;
    overflow: auto;
}

.video-demos {
  background-color: #307fe2;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}


