<div class="container">
    <nav class="site-nav">
        <a class="active" href="#section1">About Me</a>
        <a href="#section2">Resume</a>
        <a href="#section3">Cover Letter</a>
        <a href="#section4">Projects</a>
        <a href="#section5">Hobbies</a>
        <a href="#section6">Contact</a>
    </nav>

    <div class="personal-picture"><img class="personal-profile__avatar" src="img/thumbnail_headshot.jpg" alt="avatar"></div>
    <div class="personal-details">
        <h1 class="name">Jennifer McLean</h1>
        <p class="details">Computer Science Student | 2021 Graduate </p>
        <div class="social-media">
            <div class="sm-buttons"><a href="https://www.linkedin.com/in/jennifer-mclean-068061107/" class="fa fa-linkedin"></a></div>
            <div class="sm-buttons"><a href="https://www.linkedin.com/in/jennifer-mclean-068061107/" class="fa fa-github"></a></div>
        </div>
    </div>
</div>