
<h4 class="projects-title">Projects</h4>

<div class="wrapper">
    <div class="buttonWrapper">
      <button class="tab-button active" style="border-top-left-radius: 10px;" data-id="title-therapist">Therapist Jen</button>
      <button class="tab-button" data-id="title-maintenance">Maintenance App</button>
      <button class="tab-button" style="border-top-right-radius: 10px;" data-id="title-store">Online Store</button>
    </div>
    <div class="contentWrapper">
    </div>
    <div class="tabs-content">
        <div class="content active" id="title-therapist">
            <p id="app-description">
                Therapist Jen is a ChatBot that is designed to help users work through negative thoughts and feelings.
                 It is based on Cognitive Behavioural Therapy techniques. Not only does it provide users with an outlet
                  to express their negative emotions, but it also encourages users to create and work towards positive 
                  goals. This tool does not replace professional therapy, but is designed to work alongside it. 
            </p>
            <div class="therapist-image-container">
                <img id="therapist-jen-img" src="img/therapist-jen-image.png" alt="therapist-jen">
            </div>
            <h4 class="tab-titles">Tools Used:</h4>
            <ul class="skills"> 
                <li>Python</li>
                <li>JavaScript</li>
                <li>SQL</li>
            </ul>
            <div class="video-buttons-container">
                <div class="video-buttons">
                    <a href="https://youtu.be/hdk92ivJGCg" class="video-demos" target="_blank">Video Demo</a>
                    <a href="https://github.com/bcmclean/TherapistJen" class="video-demos" target="_blank">Code</a>
                </div>
            </div>
        </div>
        <div class="content" id="title-maintenance">
            <p id="app-description">
                The Maintenance Report App is an Android application that was designed with the University of British Columbia’s Okanagan Campus in mind. The app’s purpose is to create a convenient app where students, faculty, or guests could quickly report maintenance issues around campus (such as lights not working, no toilet paper in the bathroom, etc). The app is meant to handle reports from both guest users and users who want to login with their CWL.</p>
            <div class="therapist-image-container">
                <img id="therapist-jen-img" src="img/maintenance-app.png" alt="therapist-jen">
            </div>
            <h4 class="tab-titles">Tools Used:</h4>
            <ul class="skills"> 
                <li>Java</li>
                <li>Android Studio</li>
            </ul>
            <div class="video-buttons-container">
                <div class="video-buttons">
                    <a href="https://youtu.be/FVUJy67D9AI" class="video-demos" target="_blank">Video Demo</a>
                    <a href="https://github.com/bcmclean/TherapistJen" class="video-demos" target="_blank">Code</a>
                </div>
            </div>
        </div>
        <div class="content" id="title-store">
            <p id="app-description">
                Therapist Jen is a ChatBot that is designed to help users work through negative thoughts and feelings.
                 It is based on Cognitive Behavioural Therapy techniques. Not only does it provide users with an outlet
                  to express their negative emotions, but it also encourages users to create and work towards positive 
                  goals. This tool does not replace professional therapy, but is designed to work alongside it. 
            </p>
            <div class="therapist-image-container">
                <img id="therapist-jen-img" src="img/therapist-jen-image.png" alt="therapist-jen">
            </div>
            <h4 class="tab-titles">Tools Used:</h4>
            <ul class="skills"> 
                <li>Python</li>
                <li>JavaScript</li>
                <li>SQL</li>
            </ul>
            <div class="video-buttons-container">
                <div class="video-buttons">
                    <a href="https://youtu.be/hdk92ivJGCg" class="video-demos" target="_blank">Video Demo</a>
                    <a href="https://github.com/bcmclean/TherapistJen" class="video-demos" target="_blank">Code</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="js/tabs.js"></script>
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
